In [3]:
import requests
import csv
import bs4
response = requests.get("https://gorest.co.in/public/v2/posts")
posts = response.json()
posts[0]

{'id': 52224,
 'user_id': 3764796,
 'title': 'Somnus vicinus triginta inflammatio comptus annus aeternus.',
 'body': 'Impedit angulus quia. Inventore adeptio cedo. Vos voluptate somnus. Accendo tutamen ambitus. Caelestis agnosco titulus. Taedium certe pecco. Crapula nemo dolorem. Thermae ullam chirographum. Torrens vox crur. Cavus tum vobis. Temperantia copiose conturbo. Non decipio demum. Denique alii desparatus. Tollo et atqui. Veniam omnis cotidie. Celo turba valeo.'}

In [13]:
with open("posts.csv", "w+", newline ="") as f:
    writer = csv.DictWriter(f, fieldnames= ["id", "user_id", "title", "body"])
    writer.writeheader()
    for post in posts:
        pos_id = post["id"]
        userid = post["user_id"]
        title = post["title"]
        body = post["body"]
        writer.writerow({"user_id" : userid , "title" : title , "body" : body, "id" : pos_id})

In [14]:
import pandas as pd
pd.read_csv("posts.csv")

,id,user_id,title,body
0,52224,3764796,Somnus vicinus triginta inflammatio comptus an...,Impedit angulus quia. Inventore adeptio cedo. ...
1,52223,3764796,Cedo cinis asperiores adhuc ex concedo tibi quas.,Neque est aro. Creber timidus acceptus. Stella...
2,52218,3764789,Audentia aurum aliquid trans qui arcus molestias.,Solvo sapiente celebrer. Aut clarus trepide. T...
3,52217,3764789,Angustus peccatus umquam compello adsidue ipsa...,Aestas audacia mollitia. Coruscus censura tabe...
4,52214,3764786,Vel vestigium defluo strues vallum volaticus.,Curtus facere est. Ulciscor appello patior. In...
5,52213,3764786,Cubo spiculum accipio cotidie stella aperiam t...,Adficio paulatim officia. Arcesso audio ut. Ar...
6,52192,3764764,Alienus civitas conor volubilis adaugeo amarit...,Aeternus praesentium consequuntur. Perspiciati...
7,52191,3764764,Veritatis ultio est summisse amissio aestus vi...,Abduco et armo. Veniam amplitudo quia. Dolorem...
8,52188,3764761,Vel ipsam esse aptus textus curto ocer vigor v...,Adsum vorax thermae. Tergiversatio carcer expe...
9,52187,3764759,Demulceo velut tamisium thesis clarus assentat...,Consequuntur textilis amo. Certe odio accusant...